<html  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- Dependencia do Thymeleaf -->

<body>
<!-- NAVBAR -->
<!-- Image and text -->
<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">
    <img width="65px" th:src="@{/images/icon-correios.png}" class="d-inline-block align-top" alt="Cadastro de Pacotes"></img>
  </a>
</nav>

<div style="height: 5%;">
<div style="float:right; width:20%; height:25px; clear:left; padding-bottom: 10px">
	<div class="container unauthenticated">
	    Login GitHub: <a class = "btn btn-primary" href="/oauth2/authorization/github">Login</a>
	</div>
	<div class="container authenticated" style="display:none;">
	   	<img width="35px" src="../static/images/favicon.ico" id="avatar"></img>&emsp;
	    <span id="user"></span>&emsp;&emsp;
	    <button onclick="logout()" class = "btn btn-primary">Sair</button>
	</div>
</div>
</div>
</body>
</html>