<html  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template"> <!-- NOME DO ARQUIVO template.html -->
	<!-- Dependencia do Thymeleaf -->
<head>
	<meta charset="UTF-8"></meta>
	<title>Controle de Pacotes</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="mensagens-sucesso"></div>	
	<div class="panel panel-default">
   		<div class="panel-heading">
   			<div class="clearfix">
   				<h1 class="panel-title aw-pacote-panel">
   				
   				
   						<img width="35px" th:src="@{/images/lupa-pacote.png}" class="d-inline-block align-top" alt="Lista de Pacotes"></img>
    					Consulta de Pacotes
    				
	    				<a class="btn btn-link aw-link-panel" th:href="@{/pacotes/novo}">
	    					<img width="35px" th:src="@{/images/pacote-rastreio.png}" class="d-inline-block align-top" alt="Cadastro de Pacotes"></img>
	    					Novo Pacote
	    				</a>
	    				</h1>
   			</div>
   		</div>
		<div class="panel-body">
		
			<form method="GET" class="form-horizontal" th:object="${filtro}">
	   			<div class="form-group">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input class="form-control" th:field="*{descricao}" placeholder="Qual Pacote você está procurando?"
	   							autofocus="autofocus"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>
			<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">Rastreio</th>
						<th class="text-left col-md-4">Descrição</th>
						<th class="text-center col-md-1">Data Compra</th>
						<th class="text-center col-md-1">Valor</th>
						<th class="text-center col-md-2">Categoria</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${listaPacotes.isEmpty()}"> <!-- ${#list.isEmpty(listaPacotes)} -->
						<td colspan="7">Nenhum Pacote Localizado...</td>												
					</tr>
					
					<tr th:each="pacote : ${listaPacotes}">
						<td th:text="${pacote.codigo}"></td>
						<td th:text="${pacote.descricao}"></td>
						<td class="text-center col-md-1" th:text="${{pacote.dataCompra}}"></td> <!-- Chaves Duplas usa a Formatação Definida na Anotação da Classe -->
						<td class="text-center col-md-1" th:text="|R$ ${{pacote.valor}}|"></td><!-- Chaves Duplas usa a Formatação Definida na Anotação da Classe, Operador pipe | concatena valores -->
						
						<td th:text="${pacote.categoria.descricao}"></td>
						
						<td  class="text-center col-md-2"  th:attr="data-role=${pacote.id}">
							<span class="label" 
								th:text="${pacote.status.descricao}"
								th:classappend="${pacote.pendente ? 'label-danger' : 'label-info'}"
								>
								<!-- th:classappend simplificado com o uso do método isPendente do VO de pacote -->
								<!-- th:classappend="${#strings.toString(pacote.status) == 'PENDENTE' ? 'label-danger' : 'label-success'}"-->
								<!-- classappend realiza um append na classe css do atributo -->
							</span>
						</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" 
								th:href="@{/pacotes/{id}(id=${pacote.id})}"
								rel="tooltip" title="Editar" data-placement="top">
								
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							
							<a class="btn btn-link btn-xs" 
							   data-toggle="modal" 
							   data-target="#confirmaExclusaoModal" 
							   th:attr="data-id=${pacote.id}, data-descricao=${pacote.descricao}"
							   rel="tooltip" title="Excluir" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
							
							<a class="btn btn-link btn-xs js-atualiza-status" th:if="${pacote.pendente}"
							   rel="tooltip" title="Receber" data-placement="top"
							   th:attr="data-id=${pacote.id}"
							   th:href="@{/pacotes/{id}/receber(id=${pacote.id})}">
								<span class="glyphicon glyphicon-check"></span>
							</a>
							
						</td>
					</tr>
					
				</tbody>	
			</table>
			</div>
		</div>
		
		<div layout:include="modal-exclusao"></div>
		
	</div>
</section>
</html>