<html  
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- Dependencia do Thymeleaf -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta name="viewport" content="width=device-width"></meta>
<title>Controle de Cobrança</title>
<link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/style.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"></link>
</head>
<body>


<!-- Arquivo de Cabeçalho -->
<header layout:include="header"></header>

<section layout:fragment="conteudo">
    <p>Page content goes here</p>
</section>

<footer layout:include="footer"></footer>

<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<script type="text/javascript" th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/jquery.maskMoney.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/bootstrap-datepicker.pt-BR.min.js}"></script>

<script type="text/javascript" th:src="@{/bootstrap/js/pacotes.js}"></script>

<script type="text/javascript">
    /* Realiza a Chamada ao Rest de Usuário */
    $.get("/user", function(data){
    	$("#user").html(data.name);
    	$("#avatar").attr("src",data.avatar)
        $(".unauthenticated").hide()
        $(".authenticated").show()
    });
    
    var logout = function() {
        $.post("/logout", function(){
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    }
    
    // Tratamento de CORs Logout
    $.ajaxSetup({
    	  beforeSend : function(xhr,settings) {
    	    if(settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE'){
    	      if(!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))){
    	        xhr.setRequestHeader("X-XSRF-TOKEN",Cookies.get('XSRF-TOKEN'));
    	      }
    	    }
    	  }
    	});
    
</script>

</body>
</html>